.p-button{
  background: #CB0303;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  padding-left: 25px;
  cursor:pointer;
  padding-right: 25px;
  font-style: normal;
  font-weight: 100;
  @extend .sm-text;
  line-height: 25px;
border:0;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &.black{
    background:$black;
    color:#fff;
  }
  &.pink{
    background:#CB0303;
    color:#fff;
  }
  &.tiny{
    color:$pink;
    i{
      position: relative;
      top: 4px;
    }
  }
  @include tr(0.15s);
  &:hover{
    -webkit-box-shadow: 1px 5px 30px -6px rgba(112,112,112,1);
    -moz-box-shadow: 1px 5px 30px -6px rgba(112,112,112,1);
    box-shadow: 1px 5px 30px -6px rgba(112,112,112,1);
    background:#CB0303;
  }
  @media #{$sm},#{$xs},#{$md}{
    font-size: 12px;
    padding: 10px;
  }
}
